body {
  font-family: "Montserrat";
}

.navbar {
  margin-bottom: 2rem;
}

.nav-link {
  font-size: 1.0rem;
}

.navbar-brand {
  font-size: 3rem;
  font-weight: bold;
}

#title{
  padding: 3% 10%;
  background: linear-gradient(#C36839, #FCDEC0);
}

h1 {
  font-family: "Montserrat-black";
  font-size: 2.5rem;
  line-height: 1.5;
  font-weight: 200;
}

h2 {
  padding: 3% 3%;
  font-family: "Montserrat-Bold";
  line-height: 1.5;

}



.wood-img {
  width: 100%;
  padding-top: 5%
}
.text-intro{
  text-align: center;
}



h3 {
  font-family: "Montserrat-Bold";
  font-size: 1.5rem;
}

h4 {
  padding: 3% 3%;
  font-family: "Montserrat"

}

p {
  color: #8f8f8f;
}



.firewood-icon {
  width: 40px;
}

#usage {
  padding: 7% 10%;
}

.wood-usage {
  padding: 3% 3%;
  text-align: center;

}

.wood-img2 {
  width: 80%;
  padding-bottom: 50px;
}

/* slideshow */


#slideshow {
  padding: 0 10% 10% 10%;
  background: #FCDEC0;
  text-align: center;
  margin: auto;



}


.carousel-inner{
  width: 60%;
  margin: auto;

}

/* chainsaw fix */





#chainsaw-fix{
  padding: 7% 10%;
  text-align: center;
}


.repair{
  margin : auto;
  width: 5%

}

.chainsawfix{
width: 50%;
padding: 5% 0;
border-radius: 100%;
}

.emergency-icon{
margin: auto;
width: 5%;
}
.emergency{
  width: 50%;
  padding: 5% 0;
  border-radius: 100%;
}



/* PRICING SECTION */




#pricing {
  background-color: #FCDEC0;
}
.padd-section {
     padding-top: 50px;
     padding-bottom: 70px
 }

 .section-title {
     margin-bottom: 0px
 }

 #pricing .block-pricing {
     background: #fff;
     box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 0 4px 0 rgba(0, 0, 0, 0.19);
     display: inline-block;
     position: relative;
     width: 100%;
     margin-bottom: 5%;
 }

 #pricing .block-pricing .table {
     margin-bottom: 0;
     padding: 30px 15px;
     max-width: 100%;
     width: 100%
 }

 #pricing .block-pricing .table h4 {
     padding-bottom: 30px
 }

 h4 {
     color: #000;
     font-size: 13px;
     font-weight: 700;
     letter-spacing: 2px;
     text-transform: uppercase;
     line-height: 2
 }



 h2 {
     color: #000;
     font-weight: 600
 }

 #pricing .block-pricing ul {
     list-style: outside none none;
     margin: 10px auto;
     max-width: 240px;
     padding: 0
 }

 #pricing .block-pricing ul li {
     border-bottom: 1px solid rgba(153, 153, 153, 0.3);
     padding: 12px 0;
     text-align: center
 }

 li {
     color: #626262;
     font-size: 13px;
     font-weight: 400;
     letter-spacing: 2px;
     line-height: 30px;
     text-transform: capitalize
 }

 #pricing .block-pricing .table .table_btn a {
     background: #ff7361;
     color: #fff;
     margin: 0;
     display: inline-block
 }

 .btn {
     border: 1px solid #fff;
     border-radius: 50px;
     color: #fff;
     font-size: 11px;
     font-weight: 600;
     padding: 15px 40px;
     text-transform: uppercase;
     -moz-transition: all 0.5s ease-in-out 0s;
     -ms-transition: all 0.5s ease-in-out 0s;
     -o-transition: all 0.5s ease-in-out 0s;
     -webkit-transition: all 0.5s ease-in-out 0s;
     transition: all 0.5s ease-in-out 0s
 }
 .table_btn {
   padding-top: 4%;

 }



/* CONTACT US */






.well {
  padding: 5% 5%;
}

.info {
  padding: 5% 0;
  text-align: center;
}
.button{
  padding: 3% 0;
}

.phone-img{
  width: 5%;

}
.location-img{
  width: 5%;
}

.jumbotron {
background: #C36839;
color: #FFF;
border-radius: 0px;
}
.jumbotron-sm { padding-top: 24px;
padding-bottom: 24px; }
.jumbotron small {
color: #FFF;
}
.h1 small {
font-size: 24px;
}

.copyright{

  text-align: center;
}
